[Unit]
Description=VQG Celery Worker
After=network.target redis.service vqg_backend.service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/vqg/vqg
EnvironmentFile=/home/ubuntu/vqg/vqg/.env
Environment="PATH=/home/ubuntu/vqg/vqg/venv/bin"
ExecStart=/home/ubuntu/vqg/vqg/venv/bin/celery -A backend.workers.celery_app worker --pool=threads --concurrency=2 -B --loglevel=info
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
